*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

:root{
    --bg-color: #264653;
    --secong-bg-color: #2a7575;
    --text-color: #f6fff8;
    --main-color: #fb8500;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    /* background: transparent; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    transition: .3s;
}
.header.sticky{
    background: var(--bg-color);
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu_icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

/* hero section */

section{
    min-height: 100vh;
    padding: 1rem 9%;
}
.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url('/images/hero_img.png');
    background-position: center;
    background-size: cover;
}
.home_content{
    max-width: 60rem;
}
.home_content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1;
    margin: 0;
}
.line{
    position: relative;
    font-size: 3.5rem;
    width: 13.5em;
    color: var(--main-color);
    /* border: 1px solid red; */
    border-right: 2px solid rgb(246, 184, 27);
    -webkit-text-stroke: 0.7px var(--main-color);
    -webkit-text-fill-color: var(--bg-color);
    white-space: nowrap;
    overflow: hidden;
}

.typewriter_anim{
    animation: typewriter 5s steps(20) 1s infinite normal both, 
    blinkTextCursor 500ms steps(20) infinite normal;
}
/* animation */

@keyframes typewriter {
    0%, 10%, 100%{
        width: 0;
    }
    65%, 78%, 85%{
        width: 13.5em;
        opacity: 1;
    }
    75%, 81%{
        opacity: 0;
    }
}

@keyframes blinkTextCursor {
    0%, 10%, 100%{
        border-right-color: transparent;
        
   }
   65%, 78%, 85%{
        border-right-color: #fb8500;
        
   }
}



.home_content p{
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}
.btn_box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 36.5rem;
    height: 5rem;
}
.btn_box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 100%;
    background-color: transparent;
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    font-weight: 600;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}
.btn_box .btn i{
    font-size: 2.5rem;
    margin-left: 1rem;
}

.btn_box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: 0.5s;
}
.btn_box .btn:hover::before{
    width: 100%;
}

.btn_box .btn:hover{
    color: var(--text-color);
}

.home_icons{
    position: absolute;
    bottom: 4rem;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home_icons a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .1rem solid var(--text-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--text-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home_icons a:hover{
    color: var(--main-color);
}
.home_icons a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: transparent;
    z-index: -1;
    transition: 0.5s;
}
.home_icons a:hover::before{
    width: 100%;
    background: var(--text-color);
}

/* about sec starts */
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background: #000;
    padding-bottom: 6rem;
}
.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
span{
    color: var(--main-color);
}
.about_img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    overflow: #000;

}
.about_img img{
    width: 120%;
    height: 120%;
    transform: translateX(-20px);
    border-radius: 50%;
}

.about_img .circle_spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 120%;
    height: 120%;
    border-radius: 50%;
    border-top: .5rem solid #000;
    border-bottom: .5rem solid #000;
    border-left: .5rem solid var(--main-color);
    border-right: .5rem solid var(--main-color);

}
.about_content{
    text-align: center;
}
.about_content h3{
    font-size: 2.6rem;
}
.about_content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem; 
}
.btn_box.btns{
    display: inline-block;
    width: 15rem;
}

/* education starts */

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5rem;
}

.education .education_row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.education .education_column{
    flex: 1 1 40rem;
}
.education_column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education_column .education_box{
    border-left: .2rem solid var(--main-color);
}
.education_box .education_content{
    position: relative;
    padding-left: 2rem;
}
.education_box .education_content a{
    color: #fff;
}
.education_box .education_content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}
.education_content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
}

.education_content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffa844;
    z-index: -1;
    transition: 0.5s;
}
.education_content .content:hover::before{
    width: 100%;
}
.education_content .content .year{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}
.education_content .content .year i{
    padding-right: .5rem;
}
.education_content .content h3{
    font-size: 2rem;
    transition: 0.5s;
}
.education_content .content:hover h3, 
.education_content .content:hover p,
.education_content .content:hover .year{
    color: #000;
}
.education_content .content p{
    font-size: 1.6rem;
    padding-top: .5rem;
    transition: 0.5s;
}

/* education ends */

/* skills start */

.skills{
    background: #000;
}
.skills .skills_row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 10rem;
}
.skills_row .skills_column{
    flex: 1 1 40rem;
}

.skills_box .skills_content{
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
}
.skills_content .progress{
    padding: 1rem 0;
}
.skills_column .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}
.skills_column .progress h3 span{
    color: var(--text-color);
}
.skills_content .progress .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}
.skills_content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--secong-bg-color);
}

.skills_column:nth-child(1) .skills_content .progress:nth-child(1) .bar span{
    width: 90%;
}
.skills_column:nth-child(1) .skills_content .progress:nth-child(2) .bar span{
    width: 85%;
}
.skills_column:nth-child(1) .skills_content .progress:nth-child(3) .bar span{
    width: 65%;
}
.skills_column:nth-child(2) .skills_content .progress:nth-child(1) .bar span{
    width: 80%;
}
.skills_column:nth-child(2) .skills_content .progress:nth-child(2) .bar span{
    width: 90%;
}
.skills_column:nth-child(2) .skills_content .progress:nth-child(3) .bar span{
    width: 70%;
}
/* skills ends */


/* contact form start */

.contact{
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input_box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input_box .input_field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}
.contact form .input_box .input_field input,
.contact form .textarea_field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}
.contact form .input_box .input_field input::placeholder, 
.contact form .textarea_field textarea::placeholder{
    color: #b1b1b1;
}

.contact form .textarea_field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}
.contact form .textarea_field textarea{
    resize: none;
}
/* contact form ends */

/* footer sec starts */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 9%;
    background: #000;
}

.footer .footer_text p{
    font-size: 1.6rem;
}
.footer .footer_iconTop a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    padding: .8rem;
    background-color: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    transition: 0.5s;
}

.footer .footer_iconTop a:hover{
    border: .2rem solid rgb(246, 184, 27);
    background: rgb(246, 184, 27);
}
.footer .footer_iconTop a i{
    font-size: 2.5rem;
    cursor: pointer;
    color: #000;
    transition: 0.5s;
}

/* footer sec ends */


/* media queries */

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header,
    .footer{
        padding: 2rem 4%;
    }
    section{
        padding: 10rem 4% 2rem;
    }
    .home{
        padding: 0 4%;
    }
}
@media (max-width: 768px){

    section{
        padding: 20px 4%;
    }
    .line{
        font-size: 3rem;
    }
    @keyframes typewriter {
        0%, 10%, 100%{
            width: 0;
        }
        65%, 78%, 85%{
            width: 13.5em;
            opacity: 1;
        }
        75%, 81%{
            opacity: 0;
        }
    }
    

    section .heading{
        transition: .5s;
        font-size: 4rem;
    }

    .header{
        background: var(--bg-color);
    }
    .header .logo{
        font-size: 3rem;
        transition: 0.3s;
    }

    .home_content h1{
        font-size: 4.7rem;
        font-weight: 600;
        transition: .5s;
    }
    .btn_box{
        width: 33rem;
    }
    .btn_box .btn{
        width: 16rem;
        font-size: 2rem;
        font-weight: 500;
        transition: .5s;
    }
    .btn_box .btn i{
        font-size: 2rem;
        transition: .5s;
    }
    

    #menu_icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 99%;
        left: -100%;
        width: 100%;
        padding: 1rem 0;
        background: var(--bg-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        transition: .5s;
    }
    .navbar.active{
        left: 0;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem;
        text-align: center;
        border: 1px solid var(--main-color);
        border-radius: 5px;
        padding: 1.5rem;
        transition: .5s;
    }
    .navbar a:hover{
        background: var(--main-color);
        color: #fff;
    }
}

@media (max-width: 520px){
    html{
        font-size: 50%;
    }
    section{
        padding: 10px 4%;
    }
    .line{
        font-size: 2.6rem;
    }
    .home_content h1{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .contact form .input_box .input_field{
        width: 100%;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        margin-top: 2rem;
    }
}
@media (max-width: 371px){
    
    .home{
        justify-content: center;
        height: 60%;
    }
    .btn_box{
        width: 33rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .btn_box .btn{
        padding: 1.2rem;
    }
    .home_content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home_content h1{
        font-size: 5rem;
    }
    .home_content .text_animate h3{
        font-size: 3rem;
    }
}




